@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        <font size="5">Projeto Elevador:

        Este projeto foi feito usando 3 classes: Elevador, ElevadorView e ElevadorControler.
        e constam 6 métodos na classe Elevador: Inicializar, Entrar, Sair, Subir, Descer e Menu,
        o métodos menu foi instanciado entre as classe até a classe principal, onde será apresentado 
        o este método o qual mostra um menu com 6 opções: 1.Inicializar, 2.Entrar, 3.Sair, 4.Subir, 
        5.Descer e 6.Sair.

        Este Menu será apresentado ao usuário:

        1. Inicializar: Ele inicializar os status: andar atual e quantidade de pesssoas com valor "0"
        (Elevador no térreo e vazio).
        
        2. Entrar: Incrementa o valor da quantidade de pessoas (quantidade de pessoas mais uma pessoa).

        3. Sair: Decrementa o valor da quantidade de pessoas (quantidade de pessoas menos uma pessoa).

        4. Subir: Incrementa o valor da quantidade de andares em relação a posição (andar atual mais um andar).

        5. Descer: Decrementa o valor da quantidade de andares em relação a posição (andar atual menos um andar).

        6. Sair do Programa: Finaliza o programa console.

        Este projeto faz o controle das entradas pelos números escolhido no menu e gera uma saída
        a qual é mostrada ao usuário e atualizada a cada nova opção escolhida.

        Qualquer dúvida enviar e-mail: glaucio_muniz@hotmail.com.

        Ass: Glaucio Muniz

    </font></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
